{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <link rel="icon" href="{% static 'image/favicon.png' %}" type="image/x-icon">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Redeemed Gospel Church{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light sticky-top bg-light shadow-sm">
        <div class="container">
            <a class="navbar-brand" href="{% url 'home'%}">
                <img src="{% static 'image/rgc.jpg' %}" alt="RGC Logo" width="45" height="45" class="d-inline-block align-text-top rounded-circle me-2">
                Redeemed Gospel Church
                <button class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#mainNavbar">
                <span class="navbar-toggler-icon"></span>
                </button>
            </a>
            <div class="collapse navbar-collapse" id="mainNavbar">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'home'%}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'aboutus'%}">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'leadership'%}">Leadership</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'ministries'%}">Ministries</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'events'%}">Events</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'gallery'%}">Gallery</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'contactus'%}">Contact</a>
                </li>
            </ul>
            </div>
        </div>
    </nav>

    

    <main>
        {% block content %}{% endblock %}
    </main>

    <!-- Footer -->
<footer class="bg-dark text-light pt-5 pb-3 mt-5">

    <div class="container">

        <div class="row">

            <!-- Church Information -->
            <div class="col-lg-4 col-md-6 mb-4">

                <h4 class="fw-bold">Redeemed Gospel Church</h4>

                <p class="text-light-emphasis">
                    A place where faith, hope, and community come together in Christ.
                </p>

                <p>
                    <i class="bi bi-geo-alt-fill text-warning"></i>
                    Makueni, Kenya
                </p>

                <p>
                    <i class="bi bi-telephone-fill text-warning"></i>
                    +254 714 228 058
                </p>

                <p>
                    <i class="bi bi-envelope-fill text-warning"></i>
                    redeemedgospelfahm@gmail.com
                </p>

            </div>

           

            <!-- Worship & Socials -->
            <div class="col-lg-4 col-md-12 mb-4">

                <h4 class="fw-bold">Join Us</h4>

                <p>
                    <i class="bi bi-clock-fill text-warning"></i>
                    Sunday Worship: 9:30 AM
                </p>

                <h5 class="mt-4">Follow Us</h5>

                {% for link in links %}
                 <a href="{{ link.url }}"
                      target="_blank"
                      rel="noopener noreferrer"
                      class="text-decoration-none me-3">
                        <i class="{{ link.icon }} fs-4"></i>
                 </a>
                {% endfor %}

            </div>

        </div>

        <hr class="border-secondary">

        <div class="text-center">

            <p class="mb-1">
                <em>"Let all that you do be done in love."</em>
                — 1 Corinthians 16:14
            </p>

            <p class="mb-0">
                © {% now "Y" %} Redeemed Gospel Church. All Rights Reserved.
            </p>

            <small class="text-secondary">
                Designed & Developed by Jimmy Ndirangu
            </small>

        </div>

    </div>

</footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>
</html>